civicx-email-workflow.json
{
  "name": "CivicX Email Notification System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-complaint-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "09d8b142-a7c4-4192-86bf-d62417125175",
      "name": "Complaint Email Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst { complaintId, userEmail, complaintText, category, priority, location } = $input.item.json.body || {};\n\nif (!complaintId || !userEmail || !complaintText) {\n  throw new Error(\"Missing required complaint fields (ID, Email, or Text)\");\n}\n\nreturn {\n  complaintId,\n  userEmail,\n  complaintText,\n  category: category || 'General',\n  priority: priority || 'Medium',\n  location: location || 'Unknown',\n  authorityEmail: 'cmpunktg5@gmail.com'\n};"
      },
      "id": "12078cc1-6486-42d6-8de8-de1fd8ba1e7e",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.authorityEmail }}",
        "subject": "🚨 New Civic Complaint - Immediate Attention Required",
        "emailType": "html",
        "message": "=<h3>New Complaint Received</h3><p>A new civic issue has been reported that requires your attention.</p><ul>  <li><b>Complaint ID:</b> {{ $json.complaintId }}</li>  <li><b>Category:</b> {{ $json.category }}</li>  <li><b>Priority:</b> {{ $json.priority }}</li>  <li><b>Location:</b> {{ $json.location }}</li></ul><p><b>Description:</b></p><p>{{ $json.complaintText }}</p><hr><p>This is an automated alert from CivicX Platform.</p>"
      },
      "id": "2321a697-298c-401b-8117-0a676319ca17",
      "name": "Email to Authority",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [600, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "Gmail",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $(\"Validate Input\").item.json.userEmail }}",
        "subject": "✅ Complaint Submitted Successfully - CivicX",
        "emailType": "html",
        "message": "=<h3>Hello,</h3><p>Your complaint has been successfully forwarded to the concerned authority.</p><p><b>Complaint Summary:</b></p><ul>  <li><b>ID:</b> {{ $(\"Validate Input\").item.json.complaintId }}</li>  <li><b>Category:</b> {{ $(\"Validate Input\").item.json.category }}</li>  <li><b>Status:</b> Sent to Authority</li></ul><p>Thank you for contributing to a better city!</p><p>— The CivicX Team</p>"
      },
      "id": "f0ff47c6-ab00-4503-bb66-bb8f8d4566bb",
      "name": "Email to User",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [850, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "Gmail",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Email sent successfully to authority and user notified\" }) }}"
      },
      "id": "7b5623f9-ac46-4111-945a-ed24c36944c9",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Complaint Email Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Email to Authority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email to Authority": {
      "main": [
        [
          {
            "node": "Email to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email to User": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}

